.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }

.footer { grid-area: footer; }

body, html {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header menu'
        'main main'
        'footer footer';
    /*max-width: 1200px; /* Set max width */
    /*margin: 0 auto; /* Center the grid container horizontally */
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.grid-container > div {
    padding: 20px 0;
}

.header, .main {
    text-align: left; /* Left align text in header and main divs */
}

.header {
    
}

.footer {
    text-align: center;
    background-color: #393B3A;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.header, .menu {
    background-color: #1D1D1D;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.main, .item4 {
    background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}


.contact {
    background-color: #EEEEEE;
    flex: 1;
    width: 100%; /* Make the About div take full width on smaller screens */
    margin-left: 0; /* Remove left margin */
    margin-bottom: 20px;

    padding: 20px;

}

.contact p {

    margin-left: 20px 
}

.contact h2 {

    margin-left: 20px 
}

.folio h2 {

    margin-left: 40px 
}


.profile {
    display: flex;
    align-items: flex-start; 
    background-color: #EEEEEE;
}

.video-grid {
    padding: 5px;
}


.video-cell {
    float: left;
    padding: 5px;
}

.menu-items {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: flex-end;
    height: 90px; /* Set height of the outer div */

  }

  .menu-items a {
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit the text color from the parent, which is set to white */
    font-family: "Montserrat", sans-serif; /* Ensure the font is the same */
    font-weight: normal; /* Use normal font weight */
}

.menu-items a:hover {
    color: #8e8e8e; /* Maintain the hover effect */
}

.nav-btns {
    width: 120px;
    text-align: center;
}

.nav-btns:hover {
    color: #8e8e8e;
}

.header-text {
    padding-left: 20px;
    font-size: 50px;

}

.sub-header {
    padding-left: 60px;
    font-size: 20px;
    color: #F17C1D;
}

.accent {
    color: #F17C1D;
}

.video-grid {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    gap: 10px; /* Adjust space between columns and rows */
    padding: 5px;
}


.video-cell iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 392 / 220.5; /* Use the aspect ratio for responsive height*/ 
}

@media screen and (max-width: 1000px) {
    .profile {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        padding: 20px;
    }

    .about {
        background-color: #EEEEEE;
        flex: 1;
        width: 100%; /* Make the About div take full width on smaller screens */
        margin-left: 0; /* Remove left margin */
        margin-bottom: 20px; /* Add bottom margin to separate elements */
    }

    .photo {
        width: 100%;
        height: 600px; /* You can adjust this based on your desired image container height */
        overflow: hidden; /* Hides overflowed content */
        position: relative; /* Allows for absolute positioning of the image */
    }
    
    .photo img {
        width: 100%; /* Ensures the image fills the container */
        height: auto;
        position: absolute; /* Allows us to control the position of the image */
        left: 0;
    }
    .photo {
        height: 400px; /* Adjusts the height of the container */
    }

    .photo img {
        top: -20px; /* Crops 20px from the top */
        left: 0;
        width: 100%; /* Ensures image width is responsive */
        height: auto; /* Maintains aspect ratio */
    }

    .video-grid {
        grid-template-columns: 1fr; /* 1 column */
        padding: 5px;
    }

}

@media screen and (min-width: 1001px) {
    .about {
        padding: 20px;
        margin-left: 20px;
        background-color: #EEEEEE;
        width: 50%;
        flex: 1;
    }

    .photo {
        flex: 1;
        padding-right: 20px;
        max-height: 100%; /* Ensure the photo doesn't exceed the height of its container */
        overflow: hidden; /* Hide any overflow content beyond the max-height */
    }
    
    .photo img {
        width: 100%;
        height: auto;
        max-width: 100%;
        min-width: 200px;
    }

}
  